{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
    

{% block content %}
    <div class="container" style="padding: 250px 0;">
        <div class="row">
            
            {% if basket_products|length == 0 %}

            <div class="d-flex justify-content-between align-items-center">
                <p class="text-dark fs-1">SEPETİNİZDE ÜRÜN BULUNMAMAKTADIR</p>
                <a href="{% url 'category' %}" class="btn btn-primary p-3">ALIŞVERİŞE BAŞLA</a>
            </div>
            {% else %}

            <table class="table caption-top align-middle">
                <caption class="fs-1">SEPETİNİZ</caption>
                <thead>
                  <tr>
                    <th scope="col">Ürün</th>
                    <th scope="col">Marka</th>
                    <th scope="col">Model</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Adet</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in basket_products %}
                        <tr>
                            <th scope="row"><img src="{{ product.product.image.url }}" alt="" width="100"></th>
                            <td>{{ product.product.brand }}</td>
                            <td>{{ product.product.model }}</td>
                            <td>{{ product.product.price }}</td>
                            <form method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ product.id }}" name="product_id">
                            <td>
                                <button type="submit" class="btn btn-primary me-1" name="submit" value="minus"
                                
                                {% if product.quantity == 1 %}
                                    disabled
                                {% endif %}
                                    
                                >-</button>
                                {{ product.quantity }}
                                <button type="submit" class="btn btn-primary ms-1" name="submit" value="plus">+</button>
                            </td>
                                
                                <td><button type="submit" name="submit" value="btndel" class="btn btn-close btn-danger"></button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% endif %}
        </div>
        <div class="row g-4 justify-content-end mt-5">
            <div class="col-8"></div>
            <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                <div class="bg-light rounded">
                    <div class="p-4">
                        <h1 class="display-6 mb-4">Sipariş Özeti</span></h1>
                        <div class="d-flex justify-content-between mb-4">
                            <h5 class="mb-0 me-4">Ürün Toplam :</h5>
                            <p class="mb-0 text-dark">₺{{ product_total_price }}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 me-4">Kargo :</h5>
                            <div class="">
                                <p class="mb-0 text-dark">₺{{ kargo }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                        <h5 class="mb-0 ps-4 me-4">Toplam</h5>
                        <p class="mb-0 pe-4 text-dark">₺{{ total_price|intcomma }}</p>
                    </div>

                        <button class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4" type="submit" name="btncheck" value="checkbtn">Sepeti Onayla</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}