{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}


{% block content %}
    <div class="container" style="padding: 150px 0;">
        <div class="row">
            <div class="col-3">
                    <form method="get">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans 'Markalar' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                
                                {% for brand in brands %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ brand.id }}" id="flexCheckDefault" name="marka">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ brand.brand }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                                    
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            {% trans 'Renkler' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for color in colors %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ color.id }}" name="renk" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ color.color }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            {% trans 'Kasa Şekilleri' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for case_shape in case_shapes %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ case_shape.id }}" name="kasa_sekli" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ case_shape.case_shape }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFor" aria-expanded="false" aria-controls="panelsStayOpen-collapseFor">
                            {% trans 'Kayış Tipleri' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFor" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for strap_type in strap_types %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ strap_type.id }}" name="kayis_tipi" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ strap_type.strap_type }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                            {% trans 'Cam Özellikleri' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for glass_feature in glass_features %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ glass_feature.id }}"  name="cam_ozellik" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ glass_feature.glass_feature }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                            {% trans 'Tarzlar' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for style in styles %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ style.id }}" name="tarz" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ style.style }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                            {% trans 'Mekanizmalar' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                {% for mechanism in mechanisms %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ mechanism.id }}" name="mekanizma" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                    {{ mechanism.mechanism }}
                                    </label>
                                </div>
                                    
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                        <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                            {% trans 'Fiyat' %}
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
                            <div class="accordion-body d-flex justify-content-center align-item-center">
                                <div>
                                    <input class="form-control" name="fiyat_min" id="flexCheckDefaultMin">
                                </div>
                                <p class="fs-4">-</p>
                                <div>
                                    <input class="form-control" name="fiyat_max" id="flexCheckDefaultMax">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary d-block w-100 mt-3">Filtrele</button>
                    <a href="{% url 'category' %}" class="btn btn-danger d-block w-100 mt-3">Temizle</a>
                </form>
                </div>
            <div class="col-9">
                <div class="row">
                    
                    {% for product in products %}
                    <div class="col-4">
                        <div class="card" style="width: 100%;">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">{{ product.brand }}</h5>
                              <p class="card-text text-dark">{{ product.model }}</p>
                              <p class="card-text text-dark">{{ product.price|intcomma }} TL</p>
                              <div class="d-flex justify-content-between">
                                <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">Detaya Git</a>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ product.id }}" name="product_id">
                                    <button type="submit" class="btn btn-primary">Sepete Ekle</button>
                                </form>
                              </div>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                        
                </div>
                <div class="row">
                    <!-- PAGİNATİON -->
                <nav aria-label="..." class="d-flex justify-content-center mt-5">
                    <ul class="pagination">
                        
                        {% if products.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ products.previous_page_number }}">{% trans 'Geri' %}</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ products.number|add:'-1' }}">{{ products.number|add:'-1' }}</a></li>
                            
                        {% endif %}
                            

                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page={{ products.number }}">{{ products.number }}</a>
                      </li>
                      
                      {% if products.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ products.number|add:'1' }}">{{ products.number|add:'1' }}</a></li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}">{% trans 'İleri' %}</a>
                      </li>
                        
                      {% endif %}
                        
                    </ul>
                  </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block extrajs %}
    <script>
        $(document).ready(function() {
            const urlParams = new URLSearchParams(window.location.search);

        // Marka Filtresi
        const selectedMarkaId = urlParams.getAll('marka');
        if (selectedMarkaId.length > 0) {
            $.each(selectedMarkaId, function (index, marka) {
                //console.log(experience)
                const checkboxInput = $(`input[name="marka"][value="${marka}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }

        // Fiyat Filtresi
        const selectedMinFiyat = urlParams.get('fiyat_min');
        const selectedMaxFiyat = urlParams.get('fiyat_max');
        document.getElementById('flexCheckDefaultMin').value = selectedMinFiyat;
        document.getElementById('flexCheckDefaultMax').value = selectedMaxFiyat;

        // Renk Filtresi
        const selectedRenkId = urlParams.getAll('renk');
        if (selectedRenkId.length > 0) {
            $.each(selectedRenkId, function (index, renk) {
                //console.log(experience)
                const checkboxInput = $(`input[name="renk"][value="${renk}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }
        // Kasa Şekli Filtresi
        const selectedKasaSekliId = urlParams.getAll('kasa_sekli');
        if (selectedKasaSekliId.length > 0) {
            $.each(selectedKasaSekliId, function (index, kasa_sekli) {
                //console.log(experience)
                const checkboxInput = $(`input[name="kasa_sekli"][value="${kasa_sekli}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }
        // Kayış Tipi Filtresi
        const selectedKayisTipiId = urlParams.getAll('kayis_tipi');
        if (selectedKayisTipiId.length > 0) {
            $.each(selectedKayisTipiId, function (index, kayis_tipi) {
                //console.log(experience)
                const checkboxInput = $(`input[name="kayis_tipi"][value="${kayis_tipi}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }
        // Cam Özellik Filtresi
        const selectedCamOzellikId = urlParams.getAll('cam_ozellik');
        if (selectedCamOzellikId.length > 0) {
            $.each(selectedCamOzellikId, function (index, cam_ozellik) {
                //console.log(experience)
                const checkboxInput = $(`input[name="cam_ozellik"][value="${cam_ozellik}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }
        // Tarz Filtresi
        const selectedTarzId = urlParams.getAll('tarz');
        if (selectedTarzId.length > 0) {
            $.each(selectedTarzId, function (index, tarz) {
                //console.log(experience)
                const checkboxInput = $(`input[name="tarz"][value="${tarz}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }
        // Mekanizma Filtresi
        const selectedMekanizmaId = urlParams.getAll('mekanizma');
        if (selectedMekanizmaId.length > 0) {
            $.each(selectedMekanizmaId, function (index, mekanizma) {
                //console.log(experience)
                const checkboxInput = $(`input[name="mekanizma"][value="${mekanizma}"]`);
                if (checkboxInput.length > 0) {
                    checkboxInput.prop("checked", true)
                }
            })
        }

    });
    </script>
{% endblock extrajs %}
    