{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}



{% block content %}
    <div class="container" style="padding: 150px 0;">
        <div class="row">
            <h3>Kişisel Bilgiler</h3>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <form method="post">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Ad' %}</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ profil.user.first_name }}" name="first_name">
                                  </div>
                                  <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Soyad' %}</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ profil.user.last_name }}" name="last_name">
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'E-Posta Adresi' %}</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ profil.user.email }}" name="email">
                                  </div>
                                  <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Telefon Numarası' %}</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    
                                    {% if profil.phone_number %}
                                    value="{{ profil.phone_number }}"
                                    {% else %}
                                    value=""
                                    {% endif %}
                                    name="phone_number" required>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Doğum Tarihi' %}</label>
                                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ profil.birtdate|date:'Y-m-d' }}" name="birtdate" required>
                                  </div>
                                <div class="col"></div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary d-block ms-auto" name="btnsubmit" value="btnprofil">{% trans 'Güncelle' %}</button>
                          </form>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5">
            <h3>Adres Bilgileri</h3>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <form method="post">
                          {% csrf_token %}
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'İl' %}</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                                    
                                    {% if adress.province %}
                                    value="{{ adress.province }}"
                                    {% endif %}
                                      
                                    name="province">
                                  </div>
                                  <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'İlçe' %}</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    {% if adress.district %}
                                    value="{{ adress.district }}"
                                    {% endif %}
                                    name="district">
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Mahalle' %}</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                    {% if adress.neighbourhood %}
                                    value="{{ adress.neighbourhood }}"
                                    {% endif %} name="neighbourhood">
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Adres' %}</label>
                                    <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" cols="30" rows="10" name="adress">
                                      {% if adress.adress %}
                                    {{ adress.adress }}
                                    {% endif %}
                                    </textarea>
                                  </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary d-block ms-auto" name="btnsubmit" value="btnadress">{% trans 'Güncelle' %}</button>
                          </form>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5">
            <h3>Şifre Değiştir</h3>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <form method="post">
                          {% csrf_token %}
                            <div class="row">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Eski Şifre' %}</label>
                                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="oldpass">
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Yeni Şifre' %}</label>
                                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="newpass">
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">{% trans 'Yeni Şifre(Tekrar)' %}</label>
                                    <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="rnewpass">
                                  </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary d-block ms-auto" name="btnsubmit" value="btnpass">{% trans 'Güncelle' %}</button>
                          </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock content %}
    